﻿@model IPagedList<Production.DataAccess.Permission>


<table style="width: 100%; margin-bottom: 15px;" class="table table-striped" id="tblRegistration">
    <thead>
        <tr>
            <th>
                <a href="#" onclick="sortBy('PermissionID'); return false;">@ResourceBL.GetText("PermissionID")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('PermissionName'); return false;">@ResourceBL.GetText("Permission Name")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('Description'); return false;">@ResourceBL.GetText("Description")</a>
            </th>            
            <th>
                <span href="#">@ResourceBL.GetText("Actions")</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw(item.PermissionID)
            </td>
            <td>
                @Html.Raw(item.PermissionName)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                <i class="fa fa-edit"></i><a href="javascript:void(0);" onclick="editItem(@item.PermissionID)">@ResourceBL.GetText("Edit")</a> |
                <i class="fa fa-remove"></i><a href="javascript:void(0);" onclick="deleteItem(@item.PermissionID)">@ResourceBL.GetText("Delete")</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (Model.PageCount > 1) {
    <div class="paging">
        @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new AjaxOptions() { UpdateTargetId = "dvUsers" }).Options(o => o
        .RouteValues(new
        {
            pageSize = ViewBag.pageSize
        }))
    </div>
}
