﻿@model Production.DataAccess.Permission

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@using (Html.BeginForm("Save", "Permission", FormMethod.Post, new { @class = "my_form", id = "frmEdit" })) {
    @Html.HiddenFor(model => model.OldPermissionID)
    @Html.HiddenFor(model => model.IsCreate)
    <div class="editor-label">
        @Html.LabelFor(model => model.PermissionID, ResourceBL.GetText("Permission ID"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.PermissionID, new { @class = "form-control digits" })
        @Html.ValidationMessageFor(model => model.PermissionID)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PermissionName, ResourceBL.GetText("Permission Name"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.PermissionName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PermissionName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description, ResourceBL.GetText("Description"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <br />
    <p>
        <input class="btn btn-sm" type="button" value="Save" onclick="saveItem()" />
        <a href="javascript: void(0)" class="btn btn-sm" data-dismiss="modal" id="btnCancelEditOrder">
            @ResourceBL.GetText("Cancel")
        </a>
    </p>
}

