﻿@model MvcPaging.IPagedList<Order>

<table style="width: 100%; margin-bottom: 15px;" class="table table-striped" id="tblRegistration">
    <thead>
        <tr>
            <th>
                <a href="#" onclick="sortBy('CreatedDate'); return false;">@ResourceBL.GetText("Created Date")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('OrderNo'); return false;">@ResourceBL.GetText("Order No")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('c.CustomerName'); return false;">@ResourceBL.GetText("Customer")</a>
            </th>
            <th>
                <span href="#">@ResourceBL.GetText("Actions")</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.CreatedDate)
                </td>
                <td>
                    @Html.Raw(item.OrderNo)
                </td>
                <td>
                    @Html.Raw(item.CustomerName)
                </td>
                <td>
                    <i class="fa fa-edit"></i><a href="javascript:void(0);" onclick="editOrder(@item.OrderID)">@ResourceBL.GetText("Edit")</a> |
                    <i class="fa fa-remove"></i><a href="javascript:void(0);" onclick="deleteOrder(@item.OrderID)">@ResourceBL.GetText("Delete")</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageCount > 1)
{
<div class="paging">
    @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new AjaxOptions() { UpdateTargetId = "dvUsers" }).Options(o => o
    .RouteValues(new
    {                
        pageSize = ViewBag.pageSize
    }))
</div>
}