﻿@model List<dynamic>
@{ 
    var us = new System.Globalization.CultureInfo("en-US");
}
<table class="table table-striped text-center table-hover">
<tr>
    <th style="width:50px">Crop</th>
    <th class="text-center">Variety</th>
    <th style="width:50px">Production Code <br/>(Lam Tai)</th>
    <th style="width:50px">Quantity</th>
    <th style="width:50px">Plan Base</th>
    <th style="width:50px">Quality Grade</th>
    <th style="width:50px">Plant Number</th>
    <th style="width:80px">SowDate</th>
    <th style="width:80px">Delivery Date</th>
    <th style="width:50px">Plant Male</th>
    <th style="width:50px">Plant Female</th>
    <th style="width:50px">House Male</th>
    <th style="width:50px">House Female</th>
    <th style="width:30px" class="px-0"></th>
</tr>
@foreach (var item in Model)
{
    <tr id="detail@(item.ID)">
        <td>@item.CropCode</td>
        <td><a href="javascript:void(0)" onclick="EditDetail({OrderID:order.OrderID, ID:@item.ID})">@item.VarietyCode</a></td>
        <td class="fa-2x">@item.InternalCode</td>
        <td>@item.Quantity</td>
        <td>@item.PlantBase</td>
        <td>@item.QualityGrade</td>
        <td class="text-right">@item.PlantNumber</td>
        <td>@item.SowDate.ToString("MMM yyyy", us)</td>
        <td>@item.DeliveryDate.ToString("MMM yyyy",us)</td>
        <td>@item.MalePlantNumber</td>
        <td>@item.FemalePlantNumber</td>
        <td>@item.MaleHouseNumber</td>
        <td>@item.FemaleHouseNumber</td>
        <td  class="px-0"><a href="javascript:void(0)" onclick="deleteDetail(@item.ID)"><i class="fa fa-remove"></i></a></td>
    </tr>
}
</table>