﻿@model Production.DataAccess.Order
@using Newtonsoft.Json;
@{
    
    var isCopy = (bool)(ViewBag.isCopy ?? false);
    var customers = new List<Production.DataAccess.Customer>(ViewBag.customers);
}
<form id="frmOrder">
    
        
        <div class="form-group row" style="display: none;">
            <div class="col-sm-2">
                @Html.LabelFor(m => m.OrderID)
            </div>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.OrderID, new { @class = "form-control col-sm-9 required", @maxlength = 9 })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                @Html.LabelFor(m => m.OrderNo, @ResourceBL.GetText("Order Number"))
            </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.OrderNo, new { @class = "form-control col-sm-9 required", @maxlength = 50 })
                    @Html.ValidationMessageFor(m => m.OrderNo)
                </div>
            </div>
        <div class="form-group row" style="display: none;">
            <div class="col-sm-2">
                @Html.LabelFor(m => m.CreatedDate)
            </div>
            <div class="col-sm-10 row">
                @Html.TextBoxFor(m => m.CreatedDate, new { @class = "form-control col-sm-9 required", @maxlength = 50 })
                @Html.ValidationMessageFor(m => m.CreatedDate)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                @Html.LabelFor(m => m.CustomerID,@ResourceBL.GetText("Customer"))
            </div>
            <div class="col-sm-10">               
                @Html.DropDownListFor(m => m.CustomerID, new SelectList(customers, "CustomerID", "CustomerName", Model.CustomerID), "Select Customer Name", new { @class = "form-control col-sm-9 required", @style = "color: #555 !important" })
                @Html.ValidationMessageFor(m => m.CustomerID)
            </div>
        </div>  
        <div class="pull-right">
            <input class="btn btn-primary" type="button" id="btnAddDetail" onclick="EditDetail({OrderID:order.OrerID})" value="@ResourceBL.GetText("Add")"  />
        </div>
        <div id="dvOrderDetails">
            @Html.Action("Details", new { OrderID = Model.OrderID })            
        </div>                                      
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <a href="javascript: void(0)" class="btn btn-primary" onclick="saveOrder()">
                    @ResourceBL.GetText("Save")
                </a>
                <a href="javascript: void(0)" class="btn btn-primary" data-dismiss="modal" id="btnCancelEditOrder">
                    @ResourceBL.GetText("Cancel")
                </a>
            </div>
        </div>
</form>
<script type="text/javascript">
    var order = @Html.Raw(JsonConvert.SerializeObject(Model));
    function saveOrder(callback) {
        if ($("#frmOrder").valid()) {

            $.ajax({
                type: "post",
                url: "@Url.Action("Save", "Order")",
                data: $("#frmOrder").serialize(),
                success: function (data) {
                    searchOrders();
                    $("#btnCancelEditOrder").click();
                    if (callback)
                        callback();
                }
            });//End: $.ajax();
        }
    };//End: function saveTheme()
</script>