﻿@model Production.DataAccess.OrderDetail


<form id="frmOrderDetail">

    @Html.HiddenFor(model => model.ID)

    <div class="row form-group d-none">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.OrderID, new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.OrderID, new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.OrderID)
        </div>

    </div><div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.CropID, ResourceBL.GetText("Crop"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.DropDownList("CropID", new SelectList(ViewBag.Crops, "CropID", "CropCode", Model.CropID), ResourceBL.GetText("SelectCrop"), new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.CropID)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.VarietyID, ResourceBL.GetText("Variety"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.DropDownList("VarietyID", new SelectList(ViewBag.Varieties, "VarietyID", "VarietyCode"), ResourceBL.GetText("SelectVariety"), new { @class = "form-control required", onchange="changeVariety()" })
            @Html.ValidationMessageFor(model => model.VarietyID)
        </div>

    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.InternalCode, ResourceBL.GetText("Internal Code"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.InternalCode, new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.InternalCode)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.House, ResourceBL.GetText("Order House"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.House, new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.House)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Quantity, ResourceBL.GetText("Quantity"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @ResourceBL.GetText("Fruit Target/Plan")
        </div>
        <div class="col-sm-9">
            @Html.TextBox("FruitTargetPerPlant","", new { @class = "form-control",@readonly = "1" })
            @Html.ValidationMessageFor(model => model.Variety.FruitTargetPerPlant)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Variety.PlantBase, ResourceBL.GetText("Plant Base"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Variety.PlantBase, new { @class = "form-control ",@readonly="1" })
            @Html.ValidationMessageFor(model => model.Variety.PlantBase)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Quantity, ResourceBL.GetText("Quantity Grade"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Variety.QualityGrade, new { @class = "form-control", @readonly="1" })
            @Html.ValidationMessageFor(model => model.Variety.QualityGrade)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.PlantNumber, ResourceBL.GetText("Plant Number"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.PlantNumber, new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.PlantNumber)
        </div>

    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.SowDate, ResourceBL.GetText("Sown Date"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBox("SowDate", (Model.SowDate != null ? Model.SowDate.GetValueOrDefault().ToString("yyyy-MM-dd") : ""), new { @class = "form-control required", @type="date", @value = (Model.SowDate != null ? Model.SowDate.GetValueOrDefault().ToString("yyyy-MM-dd"):"")})
            @Html.ValidationMessageFor(model => model.SowDate)
        </div>

    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.DeliveryDate, ResourceBL.GetText("Delivery Date"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBox("DeliveryDate",(Model.DeliveryDate != null ? Model.DeliveryDate.GetValueOrDefault().ToString("yyyy-MM-dd") : ""), new { @class = "form-control required", @type = "date" })
            @Html.ValidationMessageFor(model => model.DeliveryDate)
        </div>

    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.MalePlantNumber, ResourceBL.GetText("Male Plan Number"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MalePlantNumber, new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.MalePlantNumber)
        </div>

    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.FemalePlantNumber, ResourceBL.GetText("FemalePlanNumber"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.FemalePlantNumber, new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.FemalePlantNumber)
        </div>

    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.MaleHouseNumber, ResourceBL.GetText("Male House Number"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MaleHouseNumber, new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.MaleHouseNumber)
        </div>

    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.FemaleHouseNumber, ResourceBL.GetText("Female House Number"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.FemaleHouseNumber, new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.FemaleHouseNumber)
        </div>

    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Remark, ResourceBL.GetText("Remarks"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Remark)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
            <input class="btn btn-primary" type="button" value="Save" onclick="saveDetail()" />
            <input id="btnCancelEditDetail" data-dismiss="modal" class="btn btn-primary" type="button" value="Cancel" />
        </div>
    </div>

  </form>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function(){
        changeVariety();
    })
    </script>
}
