﻿@model MvcPaging.IPagedList<Production.DataAccess.Order>
@{ 
    var customers = new List<Production.DataAccess.Customer>(ViewBag.customers);
}

<div class="sub-title">
    @ResourceBL.GetText("Orders")
</div>
<div class="blocktitle">Search</div>
<div class="blockcontent">
    <div class="form-row pressenter" enter-handler="searchOrders()">
        <div class="col-md-3 pb-2">
            @*<label for="CreatedDate">@ResourceBL.GetText("CreatedDate")</label>*@
            <input type="text" placeholder="@ResourceBL.GetText("Created Date")" class="form-control" id="CreatedDate">
        </div>
        <div class="col-md-3 pb-2">
            @*<label for="OrderNo">@ResourceBL.GetText("OrderNo")</label>*@
            <input type="text" placeholder="@ResourceBL.GetText("Order No")" class="form-control" id="filterOrderNo">
        </div>
        <div class="col-md-3 pb-2">
            @*<label for="CustomerID">&nbsp;</label>*@
            @Html.DropDownList("filerCustomerID", new SelectList(customers, "CustomerID", "CustomerName"), "Select Customer", new { @class = "form-control"})
        </div>
        <div class="col-md-3 pb-2">
            @*<label for="OrderNo">&nbsp;</label>*@
            <button type="button" class="btn btn-primary" onclick="searchOrders()">@ResourceBL.GetText("Search")</button>
        </div>
        
    </div> 
</div>


<div class="pull-right form-group">
    <a href="javascript: void(0);" onclick="editOrder(0)">
         @ResourceBL.GetText("Add")   
    </a>
</div>
<div id="dvOrders">
    @{Html.RenderAction("_Orders", "Order");}
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#btnSearch").click(function () {
                searchOrders();
            }).click();//End: $("#btnSearch").click();
        });//End: $(document).ready()

        var orderConfig = {
            sortBy: "OrderID",
            sortDirection: "DESC",
            page: 1
        };

        function sortBy(dCol) {
            if (orderConfig.sortBy == dCol) {
                if (orderConfig.sortDirection == "asc")
                    orderConfig.sortDirection = "desc";
                else
                    orderConfig.sortDirection = "asc";
            }
            else {
                orderConfig.sortBy = dCol;
                orderConfig.sortDirection = "asc";
            }

            searchOrders();
        }

        function searchOrders() {
            //orderConfig.page = getCurrentPageIndex();

            $.ajax({
                type: "get",
                url: "@Url.Action("_Orders", "Order")",
                data: {
                    searchKey: $("#ddlSearchKey").val(),
                    searchValue: $.trim($("#txtSearchValue").val()),
                    sortBy: orderConfig.sortBy,
                    sortDirection: orderConfig.sortDirection,
                    pageSize: 10,
                    container: "dvOrders",
                    CustomerID: $("#CustomerID").val(),
                    CreatedDate: $("#CreatedDate").val(),
                    OrderNo: $("#OrderNo").val()
                },
                success: function (html) {
                    $("#dvOrders").html(html);
                }
            });//End: $.ajax()
        };//End: function searchOrders()

        function editOrder(orderId) {
            if ($("#dvEditOrder").length == 0) {
                $("body").append("<div style='display:none' id='dvEditOrder'></div>");
            }

            $.ajax({
                type: "get",
                url: "@Url.Action("edit", "order")",
                data: {
                    orderId: orderId,
                },
                success: function (html) {
                    $("#dvEditOrder").html(html);

                    $("#dvEditOrder").popupModal({
                       fullscreen: 'modal-fullscreen'
                    });                    
                }
            });//End: $.ajax()
        }//End: function EditOrder(orderId)

        function deleteOdrer(orderId) {
            if (confirm("Do you want to delete this Order?") == true) {
                $.ajax({
                    type: "post",
                    url: "@Url.Action("Delete", "Order")",
                    data: {
                        orderId: orderId
                    },
                    success: function (data) {
                        if (data === "OK") {
                            searchOrders();
                        }
                        else {
                            //alert(data.ErrorMessage);
                            ShowPopup({ content: data });
                        }

                    }
                });//End: $.ajax()
            }
        }

        function EditDetail(detail) {
            if (order.OrderID == 0) {
                saveOrder(function () {
                    getDetail(detail);
                });
            }
            else {
                getDetail(detail);
            }
                

            
        }//End: function editDetail(detailId)

        function getDetail(detail) {
            if ($("#dvEditDetail").length == 0) {
                $("body").append("<div style='display:none' id='dvEditDetail'></div>");
            }

            detail.OrderID = order.OrderID;

            $.ajax({
                type: "get",
                url: "@Url.Action("editdetail", "order")",
                data: detail,
                success: function (html) {
                    $("#dvEditDetail").html(html);
                    changeVariety();
                    $("#dvEditDetail").popupModal({
                        dialogClass: 'modal-lg'
                    });                    
                }
            });//End: $.ajax()  
        }

        function getOrderDetails(orderId) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("Details", "Order")",
                data: {
                     orderId: orderId
                },
                success: function (data) {
                    $("#dvOrderDetails").html(data);
                }
            });//End: $.ajax();
            
        };//End: function saveOrderDetail()
        function saveDetail() {
            if ($("#frmOrderDetail").valid()) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveDetail", "Order")",
                    data: $("#frmOrderDetail").serialize(),
                    success: function (data) {
                        getOrderDetails(order.OrderID)
                        $("#btnCancelEditDetail").click();
                    }
                });
            }
        };
        function deleteDetail(Id) {
            if (confirm("Do you want to delete this item?") == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteDetail", "Order")",
                    data: {
                        Id: Id
                    },
                    success: function (data) {
                        if (data.result === "ok") {
                            $("#detail" + Id).remove();
                        }
                        else {
                            ShowPopup({ content: data });
                        }

                    }
                });
            }
        }

        function changeVariety() {
            var varietyId = $("#VarietyID").val();
            if (varietyId == "")
                return;

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetVariety", "order")",
                data: { varietyId: varietyId },
                success: function (data) {
                    $("#InternalCode").val(data.InternalCode);
                    $("#FruitTargetPerPlant").val(data.FruitTargetPerPlant);
                    $("#Variety_PlantBase").val(data.PlantBase);
                    $("#Variety_QualityGrade").val(data.QualityGrade);

                }
            });//End: $.ajax()  
        }

    </script>
}

