﻿@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="page-content__header page-header">
        <div>
            <h2 class="page-content__header-heading ">@ViewBag.Title</h2>
            <div class="page-content__header-description"></div>
        </div>
    </div>
    <div id="filterSection" class="form-group">
        <div class="form-row">
            <div class="col-4">
                <input id="FilterSupporterID" maxlength="6" name="FilterSupporterID" type="text" class="form-control" placeholder="@ResourceBL.GetText("Register_Code")" />
            </div>
            <div class="col-4">
                <a href="javascript:void(0)" onclick="GetListUser()" type="button" class="btn btn-primary d-inline">@ResourceBL.GetText("Button_Search")</a>
                <a href="javascript:void(0)" onclick="ExportListUser()" type="button" class="btn btn-primary d-inline">@ResourceBL.GetText("Button_Export")</a>
            </div>
        </div>
    </div>
    <div id="ListSection" data-ajax-url=""></div>
    <div id="popupModalAddUpdateUser"></div>
    <div id="modalMediaFilesUser"></div>
    <div id="modalViewMediaFilesUser"></div>
</div>
