﻿@model MvcPaging.IPagedList<Actions>

<table style="width: 100%; margin-bottom: 15px;" class="table table-striped table-bordered" id="tblPhase">
    <tr>
        <th>
            <a href="#" onclick="sortBy('CreatedDate'); return false;">@ResourceBL.GetText("Created Date")</a>
        </th>
        <th>
            <a href="#" onclick="sortBy('Variety'); return false;">@ResourceBL.GetText("Variety")</a>
        </th>
        <th>
            <a href="#" onclick="sortBy('OrderNo'); return false;">@ResourceBL.GetText("OrderNo")</a>
        </th>
        <th>
            <a href="#" onclick="sortBy('ActionName'); return false;">@ResourceBL.GetText("Action")</a>
        </th>
        <th>
            <span href="#">@ResourceBL.GetText("Actions")</span>
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.CreatedDate
        </td>
        <td>
            @item.Variety.VarietyCode
        </td>
        <td>
            @item.Order.OrderNo
        </td>
        <td>
            @item.ActionName
        </td>
        <td>
            <i class="fa fa-edit"></i> <a href="javascript:void(0);" onclick="editItem(@item.ID)">@ResourceBL.GetText("Edit")</a> |
            <i class="fa fa-remove"></i> <a href="javascript:void(0);" onclick="deleteItem(@item.ID)">@ResourceBL.GetText("Delete")</a>
        </td>
    </tr>
}

</table>
