﻿@model Actions
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Edit";
}

<form id="frmEdit">
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.CreatedDate)

    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.ActionID, ResourceBL.GetText("Action"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.DropDownList("ActionID", new SelectList(ViewBag.Actions, "ActionID", "ActionName", Model.ActionID), ResourceBL.GetText("Select Phase"), new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.FarmID)
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.FarmID, ResourceBL.GetText("Farm"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.DropDownList("FarmID", new SelectList(ViewBag.Farms, "FarmID", "FarmNumber", Model.FarmID), ResourceBL.GetText("Select Farm"), new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.FarmID)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.OwnerID, ResourceBL.GetText("Owner"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.DropDownList("OwnerID", new SelectList(ViewBag.Units, "OwnerID", "FirstName", Model.OwnerID), ResourceBL.GetText("Select Owner"), new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.OwnerID)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.StepNumber, ResourceBL.GetText("Phase"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBox("StepNumber", Model.StepNumber, new { @class = "form-control required " })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.OrderID, ResourceBL.GetText("Order"), new { @class = "text-bold" })

        </div>
        <div class="col-sm-9 ">
            <a href="javascript:void(0)"><i class="fa fa-list fa-2x"></i></a>
            @Html.DropDownList("OrderID", new SelectList(ViewBag.Orders, "OrderID", "OrderNo", Model.OrderID), ResourceBL.GetText("SelectOrder"), new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.OrderID)
        </div>


    </div>
    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.CropID, ResourceBL.GetText("Crop"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.DropDownList("CropID", new SelectList(ViewBag.Crops, "CropID", "CropCode", Model.CropID), ResourceBL.GetText("SelectCrop"), new { @class = "form-control required" })
            @Html.ValidationMessageFor(model => model.CropID)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.VarietyID, ResourceBL.GetText("Variety"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.DropDownList("VarietyID", new SelectList(ViewBag.Varieties, "VarietyID", "VarietyCode"), ResourceBL.GetText("SelectVariety"), new { @class = "form-control required", onchange = "" })
            @Html.ValidationMessageFor(model => model.VarietyID)
        </div>
    </div>
    @*<div class="row form-group">
            <div class="col-sm-3 ">
                @Html.LabelFor(model => model.ActionDate, ResourceBL.GetText("Action Date"), new { @class = "text-bold" })
            </div>
            <div class="col-sm-9">
                @Html.TextBox("ActionDate", Model.ActionDate, new { @class = "form-control required number" })
                @Html.ValidationMessageFor(model => model.ActionDate)
            </div>
        </div>*@
    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.PlantNumber, ResourceBL.GetText("Plant Number"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBox("PlantNumber", Model.PlantNumber, new { @class = "form-control required number", onchange = "changeVariety()" })
            @Html.ValidationMessageFor(model => model.PlantNumber)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.HouseNumber, ResourceBL.GetText("House Number"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextBox("HouseNumber", Model.HouseNumber, new { @class = "form-control required number" })
            @Html.ValidationMessageFor(model => model.HouseNumber)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3 ">
            @Html.LabelFor(model => model.Note, ResourceBL.GetText("Note"), new { @class = "text-bold" })
        </div>
        <div class="col-sm-9">
            @Html.TextArea("Note", Model.Note, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Note)
        </div>
    </div>
    <div class="row form-group py-3">
        <div class="col-sm-3 ">
        </div>
        <div class="col-sm-9">
            <input type="button" class="btn btn-sm btn-success" value="@ResourceBL.GetText("Save")" onclick="saveAction()" />
            <a href="javascript: void(0)" class="btn btn-sm" data-dismiss="modal" id="btnCancel">
                @ResourceBL.GetText("Cancel")
            </a>
        </div>
    </div>
</form>

<script type="text/javascript">
    var vm = @Html.Raw(JsonConvert.SerializeObject(Model));
    function saveAction(callback) {
        if ($("#frmEdit").valid()) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("Save", "Actions")",
                data: $("#frmEdit").serialize(),
                success: function (data) {
                    searchActions();
                    $("#btnCancel").click();
                    if (callback)
                        callback();
                }
            });
        }
    };
</script>

