﻿@{
    var actions = new List<Production.DataAccess.ActionMaster>(ViewBag.actions);
    var customers = new List<Production.DataAccess.Customer>(ViewBag.customers);
}

<div class="sub-title">
    @ResourceBL.GetText("Actions")
</div>
<div class="blocktitle">Search</div>
<div class="blockcontent">
    <div class="form-row pressenter" enter-handler="searchActions()">
        <div class="col-md-3 pb-2">
            @*<label for="CustomerID">&nbsp;</label>*@
            @Html.DropDownList("ddActionID", new SelectList(actions, "ActionID", "ActionName"), ResourceBL.GetText("Selectaction"), new { @class = "form-control" })
        </div>
        <div class="col-md-3 pb-2">
            @*<label for="OrderNo">@ResourceBL.GetText("OrderNo")</label>*@
            <input type="text" placeholder="@ResourceBL.GetText("OrderNo")" class="form-control" id="filterOrderNo">
        </div>
        <div class="col-md-3 pb-2">
            @*<label for="CustomerID">&nbsp;</label>*@
            @Html.DropDownList("ddCustomerID", new SelectList(customers, "CustomerID", "CustomerName"), "Select Customer", new { @class = "form-control" })
        </div>
        <div class="col-md-3 pb-2">
            @*<label for="OrderNo">&nbsp;</label>*@
            <button type="button" class="btn btn-sm" onclick="searchActions()">@ResourceBL.GetText("Search")</button>
        </div>

    </div>
</div>


<div class="pull-left form-group">
    <a class="btn btn-sm" href="javascript: void(0);" onclick="editItem(0)">
        <i class="fa fa-plus"></i> @ResourceBL.GetText("Add")
    </a>
</div>
<div id="dvActions">
    @{Html.RenderAction("_List", "Actions");}
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnSearch").click(function () {
                searchActions();
            }).click();//End: $("#btnSearch").click();
        });//End: $(document).ready()

        var orderConfig = {
            sortBy: "OrderID",
            sortDirection: "DESC",
            page: 1
        };

        function sortBy(dCol) {
            if (orderConfig.sortBy == dCol) {
                if (orderConfig.sortDirection == "asc")
                    orderConfig.sortDirection = "desc";
                else
                    orderConfig.sortDirection = "asc";
            }
            else {
                orderConfig.sortBy = dCol;
                orderConfig.sortDirection = "asc";
            }

            searchActions();
        }

        function searchActions() {
            //orderConfig.page = getCurrentPageIndex();

            $.ajax({
                type: "get",
                url: "@Url.Action("_List", "Actions")",
                data: {
                    searchKey: $("#ddlSearchKey").val(),
                    searchValue: $.trim($("#txtSearchValue").val()),
                    sortBy: orderConfig.sortBy,
                    sortDirection: orderConfig.sortDirection,
                    pageSize: 10,                    
                    OrderNo: $("#filterOrderNo").val(),
                    CustomerID: $("#ddCustomerID").val(),
                    ActionID: $("#ddActionID").val()
                },
                success: function (html) {
                    $("#dvActions").html(html);
                }
            });
        };
        function editItem(id) {
            if ($("#dvEdit").length == 0) {
                $("body").append("<div style='display:none' id='dvEdit'></div>");
            }

            $.ajax({
                type: "GET",
                url: "@Url.Action("edit", "Actions")",
                data: {
                    id: id,
                },
                success: function (html) {
                    $("#dvEdit").html(html);

                    $("#dvEdit").popupModal({
                        //fullscreen: 'modal-fullscreen'
                        ///title: "Thêm Mới/Sửa"
                    });                    
                }
            });
        }
        function deleteItem(id) {
            if (confirm("Do you want to delete this action?") == true) {
                $.ajax({
                    type: "post",
                    url: "@Url.Action("Delete", "Actions")",
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.result === "ok") {
                            searchActions();
                        }
                        else {
                            //alert(data.ErrorMessage);
                            showMessage({ content: data.message });
                        }

                    }
                });//End: $.ajax()
            }
        }

    </script>
 }