﻿@model List<Production.DataAccess.Role>


<table style="width: 100%; margin-bottom: 15px;" class="table table-striped" id="tblRegistration">
    <thead>
        <tr>
            <th>
                <a href="#" onclick="sortBy('RoleName'); return false;">@ResourceBL.GetText("Role Name")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('Description'); return false;">@ResourceBL.GetText("Description")</a>
            </th>            
            <th>
                <span href="#">@ResourceBL.GetText("Actions")</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.Raw(item.RoleName)
                </td>
                <td>
                    @Html.Raw(item.Description)
                </td>                
                <td>
                    <i class="fa fa-edit"></i><a href="javascript:void(0);" onclick="editItem(@item.RoleID)">@ResourceBL.GetText("Edit")</a> |
                    <i class="fa fa-remove"></i><a href="javascript:void(0);" onclick="deleteItem(@item.RoleID)">@ResourceBL.GetText("Delete")</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@if (Model.PageCount > 1) {
    <div class="paging">
        @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new AjaxOptions() { UpdateTargetId = "dvUsers" }).Options(o => o
        .RouteValues(new
        {
            pageSize = ViewBag.pageSize
        }))
    </div>
}*@
