﻿@model Production.DataAccess.Role
@{ 
    var Permissions = (List<Permission>)ViewBag.Permissions;
}

@using (Html.BeginForm("Save", "Role", FormMethod.Post, new { @class = "my_form", id = "frmEdit" })) {

    @Html.HiddenFor(model => model.RoleID)

    <div class="editor-label">
        @Html.LabelFor(model => model.RoleName, ResourceBL.GetText("Role Name"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.RoleName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description, ResourceBL.GetText("Description"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="editor-label">
        @Html.Label(ResourceBL.GetText("Permissions"))
        <a href="javascript:void(0)" onclick="$('.permission').prop('checked',true)">Check All</a> |
        <a href="javascript:void(0)" onclick="$('.permission').prop('checked',false)">Uncheck All</a>
    </div>
    <div id="dvPermissions" class="border p-2" style="height:162px;overflow-y:auto">
         @foreach (var item in Permissions) {
            <div>
                @Html.CheckBox("p_" + item.PermissionID, Model.Permissions.Any(p => p.PermissionID == item.PermissionID), new { id = "p_" + item.PermissionID, value = item.PermissionID, @class = "permission" })
                @item.PermissionName
            </div>
         }
    </div>
    <br />
    <p>
        <input class="btn btn-sm" type="button" value="Save" onclick="saveItem()" />
        <a href="javascript: void(0)" class="btn btn-sm" data-dismiss="modal" id="btnCancelEditOrder">
            @ResourceBL.GetText("Cancel")
        </a>
    </p>
}

