﻿body{
    font-size:12px;
    font-family:'Open Sans';
}
.page-content .container-fluid {
    padding-top: 20px;
}
.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}
.editor-label{
    font-weight:bold;
    padding-top:10px;
}
label {
    margin-bottom: 2px;
}
.btn {
    background-color: #ed8c26;
    /*font-size: 14px;*/
    color: white;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    /*padding: 4px 12px;*/
}

.btn-primary, 
.btn.btn-primary {
    background-color: #ed8c26;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus,
.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #ed8c26;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}


.form-control {
    border-radius: 1px;
    font-size: 12px;
}

.blocktitle {
    /*background-color: #B8D6E6;
    border: 1px solid #94ACB9;
    color: #000000;
    font-size: 1.1em;
    font-weight: bold;
    padding: 7px;
    text-decoration: none;*/
    display:none;
}

.blockcontent {
    /*-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;*/
    /*background-color: rgba(0, 0, 0, 0);
    border-color: #94ACB9;
    border-image: none;
    border-style: none solid solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 10px;*/
}
.sub-title {
    border-bottom: 1px solid #E1E1E1;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 0;
    margin-bottom: 3px;
}

/*---- validation-error ----------------------*/
.input-validation-error {
    border: 1px solid #FF0000 !important;
    background: #eef88f !important;
}

.input-validation-error input[type="checkbox"] {
    outline: 1px solid #ff0000 !important;
}

.error:not(select),
.field-validation-error {
    color: #FF0000;
}
a {
    cursor: pointer;
    color: #28a745;
}

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    max-width:100%;
    padding:0;
    width: 100%;
    transition: all ease .8s;
}
/*modal*/
.modal-content {
    border-radius:0px;
    min-height:300px;
}
.modal{
    padding:5px;
}

.table th{
    text-align:center;
    font-weight:700;
    vertical-align:middle;
}
.table td{   
    vertical-align:middle;
}

.text-bold {
    font-weight:bold;
}
.form-group {
    margin-bottom:6px;
    font-size:12px;
}

.modal-body{
    color:black;
}
.btn-sm{
    min-width:60px;
}
.navbar-dark .navbar-nav .nav-link {
    color: wheat;
    font-weight:bold;
}
.dropdown-menu{
    left:unset;
    right:0px;
}







