﻿@model IPagedList<Production.DataAccess.Users>


<table style="width: 100%; margin-bottom: 15px;" class="table table-striped" id="tblRegistration">
    <thead>
        <tr>
            <th>
                <a href="#" onclick="sortBy('Users.FirstName'); return false;">@ResourceBL.GetText("First Name")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('Users.LastName'); return false;">@ResourceBL.GetText("Last Name")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('Users.Email'); return false;">@ResourceBL.GetText("Email")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('Users.RoleID'); return false;">@ResourceBL.GetText("Role")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('Users.CustomerID'); return false;">@ResourceBL.GetText("Customer")</a>
            </th>
            <th>
                <span href="#">@ResourceBL.GetText("Actions")</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw(item.FirstName)
            </td>
            <td>
                @Html.Raw(item.LastName)
            </td>
            <td>
                @Html.Raw(item.Email)
            </td>
            <td>
                @Html.Raw(item.RoleName)
            </td>
            <td>
                @Html.Raw(item.CustomerName)
            </td>
            <td>
                <i class="fa fa-edit"></i><a href="javascript:void(0);" onclick="editItem(@item.UserID)">@ResourceBL.GetText("Edit")</a> |
                <i class="fa fa-remove"></i><a href="javascript:void(0);" onclick="deleteItem(@item.UserID)">@ResourceBL.GetText("Delete")</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (Model.PageCount > 1) {
    <div class="paging">
        @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new AjaxOptions() { UpdateTargetId = "dvUsers" }).Options(o => o
        .RouteValues(new
        {
            pageSize = ViewBag.pageSize
        }))
    </div>
}
