﻿@model Production.DataAccess.Users

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@using (Html.BeginForm("Save", "Users", FormMethod.Post, new { @class = "my_form", id = "frmEdit" })) {



    @Html.HiddenFor(model => model.UserID)

    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName, ResourceBL.GetText("First Name"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName, ResourceBL.GetText("Last Name"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Email, ResourceBL.GetText("Email"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Phone, ResourceBL.GetText("Phone"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.RoleID, ResourceBL.GetText("Role"))
    </div>
    <div class="editor-field">
        @Html.DropDownList("RoleID", new SelectList(ViewBag.Roles, "RoleID", "RoleName", Model.RoleID), ResourceBL.GetText("Role"), new { @class = "form-control required" })
        @Html.ValidationMessageFor(model => model.RoleID)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CustomerID, ResourceBL.GetText("Customer"))
    </div>
    <div class="editor-field">
        @Html.DropDownList("CustomerID", new SelectList(ViewBag.Customers, "CustomerID", "CustomerName", Model.CustomerID), ResourceBL.GetText("Role"), new { @class = "form-control required" })
        @Html.ValidationMessageFor(model => model.CustomerID)
    </div>
    <br />
    <p>
        <input class="btn btn-sm" type="button" value="Save" onclick="saveItem()" />
        <a href="javascript: void(0)" class="btn btn-sm" data-dismiss="modal" id="btnCancelEditOrder">
            @ResourceBL.GetText("Cancel")
        </a>
    </p>
}

