﻿@model Production.DataAccess.Users
@{ 
    var login = new Production.DataAccess.Users();
    login.Email = "superadmin";
    login.Password = "123456";
}
<div class="row">
    <div class="offset-sm-4 col-sm-4">

        @using (Html.BeginForm("UserLogin", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", id = "frmLogin" })) {

            <div class="sub-title">
                @ResourceBL.GetText("Login")
            </div>
            <div class="form-group">
                <input class="form-control required" type="text" name="Email" value="@login.Email" placeholder="Email">
            </div>
            <div class="form-group">
                <input class="form-control required" type="password" name="Password" value="@login.Password" placeholder="Password">
            </div>
            @*<div class="form-group">
                    <label>
                        <input type="checkbox" name="remember_me">
                        Remember me
                    </label>
                </div>*@
            <button class="btn btn-sm btn-primary" type="button" onclick="login()">Submit</button>
        }
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        function login() {
            if ($("#frmLogin").valid()) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UserLogin", "Users")",
                    data: $("#frmLogin").serialize(),
                    success: function (data) {
                        if (data.result == "ok")
                            location.href = location.href;
                        else
                            showMessage({ content: data.message });
                    }
                });
            }
        }
    </script>
}