﻿@model IPagedList<Production.DataAccess.Variety>


<table style="width: 100%; margin-bottom: 15px;" class="table table-striped" id="tblRegistration">
    <thead>
        <tr>
            <th>
                <a href="#" onclick="sortBy('VarietyName'); return false;">@ResourceBL.GetText("Variety Name")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('VarietyCode'); return false;">@ResourceBL.GetText("Variety Code")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('Customer.CustomerID'); return false;">@ResourceBL.GetText("Customer")</a>
            </th>
            <th>
                <span href="#">@ResourceBL.GetText("Actions")</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.Raw(item.VarietyName)
                </td>
                <td>
                    @Html.Raw(item.VarietyCode)
                </td>
                <td>
                    @Html.Raw(item.CustomerName)
                </td>
                <td>
                    <i class="fa fa-edit"></i><a href="javascript:void(0);" onclick="editItem(@item.VarietyID)">@ResourceBL.GetText("Edit")</a> |
                    <i class="fa fa-remove"></i><a href="javascript:void(0);" onclick="deleteItem(@item.VarietyID)">@ResourceBL.GetText("Delete")</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageCount > 1) {
    <div class="paging">
        @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new AjaxOptions() { UpdateTargetId = "dvUsers" }).Options(o => o
        .RouteValues(new
        {
            pageSize = ViewBag.pageSize
        }))
    </div>
}
