﻿@model Production.DataAccess.Variety

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@using (Html.BeginForm("Save", "Variety", FormMethod.Post, new { @class = "my_form", id="frmEdit" })) {



        @Html.HiddenFor(model => model.VarietyID)

        <div class="editor-label">
            @Html.LabelFor(model => model.VarietyName, ResourceBL.GetText("Variety Name"))
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VarietyName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VarietyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VarietyCode, ResourceBL.GetText("Variety Code"))
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VarietyCode, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.VarietyCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerID, ResourceBL.GetText("Customer"))
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerID",new SelectList(ViewBag.Customers, "CustomerID", "CustomerName", Model.CustomerID), ResourceBL.GetText("Customer"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerID)
        </div>        
        <br/>
        <p>
            <input class="btn btn-sm" type="button" value="Save" onclick="saveItem()" />
            <a href="javascript: void(0)" class="btn btn-sm" data-dismiss="modal" id="btnCancelEditOrder">
                @ResourceBL.GetText("Cancel")
            </a>
        </p>
}

