﻿@model Production.DataAccess.Unit

@using (Html.BeginForm("Save", "Unit", FormMethod.Post, new { @class = "my_form", id = "frmEdit" })) {

    @Html.HiddenFor(model => model.UnitID)

    <div class="editor-label">
        @Html.LabelFor(model => model.UnitName, ResourceBL.GetText("Unit Name"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UnitName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UnitName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Area, ResourceBL.GetText("Area"))
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Area, new { @class = "form-control" })        
        @Html.ValidationMessageFor(model => model.Area)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.FarmID, ResourceBL.GetText("Farm"))
    </div>
    <div class="editor-field">
        @Html.DropDownList("FarmID", new SelectList(ViewBag.Farms, "FarmID", "FarmName", Model.FarmID), ResourceBL.GetText("Select Farm"), new { @class = "form-control required" })
        @Html.ValidationMessageFor(model => model.FarmID)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.OwnerID, ResourceBL.GetText("Admin"))
    </div>
    <div class="editor-field">
        @Html.DropDownList("OwnerID", new SelectList(ViewBag.Users, "UserID", "FirstName", Model.OwnerID), ResourceBL.GetText("Owner"), new { @class = "form-control required" })
        @Html.ValidationMessageFor(model => model.OwnerID)
    </div>
    <br />
    <p>
        <input class="btn btn-sm" type="button" value="Save" onclick="saveItem()" />
        <a href="javascript: void(0)" class="btn btn-sm" data-dismiss="modal" id="btnCancelEditOrder">
            @ResourceBL.GetText("Cancel")
        </a>
    </p>
}

