﻿@model List<Customer>

<div class="sub-title">
    @ResourceBL.GetText("Units")
</div>
<div class="">
    <div id="frmSearh" class="form-row pressenter" enter-handler="searchItems()">
        <div class="col-md-3 pb-2">
            <input type="text" placeholder="@ResourceBL.GetText("Unit")" class="form-control" id="txtUnitName">
        </div>
        <div class="col-md-3 pb-2">
            <button type="button" class="btn btn-sm" onclick="searchItems()">@ResourceBL.GetText("Search")</button>
        </div>
    </div>
</div>
<div class="pull-right form-group">
    <a class="btn btn-sm" href="javascript: void(0);" onclick="editItem(0)">
        @ResourceBL.GetText("Add")
    </a>
</div>
<div id="dvItems">
    @{Html.RenderAction("_List", "Unit");}
</div>
@section Scripts
{
    <script type="text/javascript">


        var config = {
            sortBy: "",
            sortDirection: "DESC",
            page: 1
        };

        function sortBy(dCol) {
            if (config.sortBy == dCol) {
                if (config.sortDirection == "asc")
                    config.sortDirection = "desc";
                else
                    config.sortDirection = "asc";
            }
            else {
                config.sortBy = dCol;
                config.sortDirection = "asc";
            }

            searchItems();
        }

        function searchItems() {

            $.ajax({
                type: "POST",
                url: "@Url.Action("_List", "Unit")",
                data: {
                    sortBy: config.sortBy,
                    sortDirection: config.sortDirection,
                    pageSize: 10,
                    UnitName: $("#txtUnitName").val()
                },
                success: function (html) {
                    $("#dvItems").html(html);
                }
            });
        };
        function editItem(id) {
            if ($("#dvEdit").length == 0) {
                $("body").append("<div style='display:none' id='dvEdit'></div>");
            }

            $.ajax({
                type: "GET",
                url: "@Url.Action("Edit", "Unit")",
                data: {
                    UnitID: id,
                },
                success: function (html) {
                    $("#dvEdit").html(html);
                    $("#dvEdit").popupModal();
                }
            });
        }
        function saveItem(callback) {
            if ($("#frmEdit").valid()) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Save", "Unit")",
                    data: $("#frmEdit").serialize(),
                    success: function (data) {
                        searchItems();
                        //$("#btnCancel").click();
                        $(".modal").modal("hide");
                        if (callback)
                            callback();
                    }
                });
            }
        };
        function deleteItem(id) {
            if (confirm("Do you want to delete this action?") == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Unit")",
                    data: {
                        UnitID: id
                    },
                    success: function (data) {
                        if (data.result === "ok") {
                            searchItems();
                        }
                        else {
                            //alert(data.ErrorMessage);
                            showMessage({ content: data.message });
                        }

                    }
                });//End: $.ajax()
            }
        }

    </script>
}

