﻿@model IPagedList<Production.DataAccess.Crop>


<table style="width: 100%; margin-bottom: 15px;" class="table table-striped" id="tblRegistration">
    <thead>
        <tr>
            <th>
                <a href="#" onclick="sortBy('CropName'); return false;">@ResourceBL.GetText("Crop Name")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('CropCode'); return false;">@ResourceBL.GetText("Crop Code")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('InternalCode'); return false;">@ResourceBL.GetText("Internal Code")</a>
            </th>
            <th>
                <a href="#" onclick="sortBy('CustomerID'); return false;">@ResourceBL.GetText("Customer")</a>
            </th>
            <th>
                <span href="#">@ResourceBL.GetText("Actions")</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw(item.CropName)
            </td>
            <td>
                @Html.Raw(item.CropCode)
            </td>
            <td>
                @Html.Raw(item.InternalCode)
            </td>
            <td>
                @Html.Raw(item.CustomerName)
            </td>
            <td>
                <i class="fa fa-edit"></i><a href="javascript:void(0);" onclick="editItem(@item.CropID)">@ResourceBL.GetText("Edit")</a> |
                <i class="fa fa-remove"></i><a href="javascript:void(0);" onclick="deleteItem(@item.CropID)">@ResourceBL.GetText("Delete")</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (Model.PageCount > 1) {
    <div class="paging">
        @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new AjaxOptions() { UpdateTargetId = "dvUsers" }).Options(o => o
        .RouteValues(new
        {
            pageSize = ViewBag.pageSize
        }))
    </div>
}
