﻿@model Production.DataAccess.Crop

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@using (Html.BeginForm("Save", "Crop", FormMethod.Post, new { @class = "my_form", id="frmEdit" })) {



        @Html.HiddenFor(model => model.CropID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CropName, ResourceBL.GetText("Crop Name"))
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CropName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CropName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CropCode, ResourceBL.GetText("Crop Code"))
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CropCode, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.CropCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InternalCode, ResourceBL.GetText("Internal Code"))
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InternalCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.InternalCode)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerID, ResourceBL.GetText("Customer"))
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerID", new SelectList(ViewBag.Customers, "CustomerID", "CustomerName", Model.CustomerID), ResourceBL.GetText("Owner"), new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.CustomerID)
        </div>
        <br/>
        <p>
            <input class="btn btn-sm" type="button" value="Save" onclick="saveItem()" />
            <a href="javascript: void(0)" class="btn btn-sm" data-dismiss="modal" id="btnCancelEditOrder">
                @ResourceBL.GetText("Cancel")
            </a>
        </p>
}

