﻿@model Production.DataAccess.Farm

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@using (Html.BeginForm("Save", "Farm", FormMethod.Post, new { @class = "my_form", id="frmEdit" })) {



        @Html.HiddenFor(model => model.FarmID)

        <div class="editor-label">
            @Html.LabelFor(model => model.FarmName, ResourceBL.GetText("Farm Name"))
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FarmName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FarmName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Area, ResourceBL.GetText("Area"))
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Area,new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.Area)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address, ResourceBL.GetText("Address"))
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerID, ResourceBL.GetText("Admin"))
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OwnerID, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OwnerID)
        </div>
        <br/>
        <p>
            <input class="btn btn-sm" type="button" value="Save" onclick="saveItem()" />
            <a href="javascript: void(0)" class="btn btn-sm" data-dismiss="modal" id="btnCancelEditOrder">
                @ResourceBL.GetText("Cancel")
            </a>
        </p>
}

