﻿@model List<Production.DataAccess.Customer>

<table style="width: 100%; margin-bottom: 15px;" class="table table-striped table-bordered" id="tblPhase">
    <tr>
        <th>
            <a href="#" onclick="sortBy('CustomerName'); return false;">@ResourceBL.GetText("Customer Name")</a>
        </th>
        <th>
            <a href="#" onclick="sortBy('Email'); return false;">@ResourceBL.GetText("Email")</a>
        </th>
        <th>
            <a href="#" onclick="sortBy('Phone'); return false;">@ResourceBL.GetText("Phone")</a>
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.CustomerName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                <i class="fa fa-edit"></i> <a href="javascript:void(0);" onclick="editItem(@item.CustomerID)">@ResourceBL.GetText("Edit")</a> |
                <i class="fa fa-remove"></i> <a href="javascript:void(0);" onclick="deleteItem(@item.CustomerID)">@ResourceBL.GetText("Delete")</a>
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a class="" href="javascript: void(0);" onclick="editItem(0)">
                @ResourceBL.GetText("Add")
            </a>
        </td>
    </tr>

</table>
