﻿@model Production.DataAccess.Customer
@using Newtonsoft.Json;

<form id="frmEdit">

    @Html.HiddenFor(model => model.CustomerID)
    <div class="form-group row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.CustomerName, ResourceBL.GetText("Customer Name"))
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control required", @maxlength = 200 })
            @Html.ValidationMessageFor(model => model.CustomerName)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @maxlength = 20 })
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control email", @maxlength = 50 })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @maxlength = 50 })
            @Html.ValidationMessageFor(model => model.Address)
        </div>
    </div>


    <p>
        <input class="btn btn-sm btn-primary" type="button" value="Save" onclick="saveItem()" />
        <a href="javascript: void(0)" class="btn btn-sm btn-primary" data-dismiss="modal" id="btnCancel">
            @ResourceBL.GetText("Cancel")
        </a>
    </p>
</form>
<script type="text/javascript">
    var vm = @Html.Raw(JsonConvert.SerializeObject(Model));
</script>

